.mobile_menu{
    display: none;
}

/* for laptop screen:767px */
@media(max-width:767px){
    /* default */
    .section_title{
        font-size:1rem;
        font-weight:400;
    }

    /* header */
    .header-wrapper{
        flex-direction:column;
        align-items:flex-start;
    }
    .logo{
        align-self:flex-start
    }

    nav{
        display:flex;
        flex-direction: column;
        align-items: center;
        width:100%;
        border-bottom:1px solid #ddd;
        padding-bottom:10px;
        display:none;
    }
    nav .nav-link{
        margin:0;
        padding:10px 0;
    }
    .mobile_menu{
        display:block;
        font-size:28px;
        cursor:pointer;
        color:var(--primary-color);
        position:absolute;
        right:25px;
        z-index:8888;
    }
    .nav_active{
        display:flex;
    }

    /* hero-icon */
    .hero-content{
        flex-direction:column;
    }
    .hero-left{
        width:100%;
    }
    .hero-right {
        width:80%;
        margin-top:50px;
    }
    .btn-wrapper  .app-button{
        display:block;
        width:fit-content;
    }
    .hero-content .hero-left h1{
        font-size: 40px;
        color:#333;
    }

    /* partners */
    .partner-single{
        margin:0 30px;
    }

    /* benifits */
    .benifits-wrapper{
        padding:60px 50px;
    }
    .demo{
        flex-direction: column;
        align-items: center;
    }
    .demo-video{
        width:100%;
    } 
    .demo-details{
        width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }
   .benifits_ads{
       flex-direction: column;
       text-align: center;
       align-items: center;
       gap:20px;
   }
   .benifit-cards{
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   
   /* start_now */
   .start_now_content{
       flex-direction: column;
       align-items: center;
   }
   .start_now_content .start-title , .sbtn-wrapper{
        width:100%;
   }
   .start_now_content .start-title {
       text-align: center;
   }
   .start_now_content p{
       margin-top:30px;
   }

   /* payment */
   .payment-wrapper{
       flex-direction: column;
       justify-content: center;
       gap:40px;
   }
   .left-img {
      width: 100%;
   }   
    /* rate */
   .rate-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rate-wrapper .left-content,.right-img{
        width: 90%;
        text-align: center;
    }
    .right-img{
        margin-top:20px;
    }

    /* platform */
    .platform-wrapper{
        flex-direction: column;
        align-items: center;
        gap:70px;
    }
    .platform-wrapper h1{
        width:100%;
    }
    .p-img {
        display:flex;
        justify-content: center;
        align-items: center;
        gap:50px;
    }
    
    /* footer */
    .footer-top{
        flex-direction: column;
    }
    .footer-top-left .info{
        flex-direction: column;
        gap:30px;
    }
    .footer-bottom{
        flex-direction: column;
        gap:20px;
    }
    .info-list{
       display: flex;
       flex-direction: column;
       align-items: center;
       gap:20px;
    }
    .info-list .linkedin{
        font-size: 20px;
        margin-left:-30px;
    }

}



/* for mobile screen:575px */
@media(max-width:575px){
    
    .benifit-cards-single{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom:40px;
    }
 } 
